<div class="wrapper">
    <div class="container text-center">
        <section class="404-text">
            <div class="img-holder">
                <figure class="error-code_hole">
                    <img src="../../../../assets/images/not-found.png">
                </figure>
            </div>
        </section>
        <section class="error-titles">
            <h1 class="h1">Something went wrong...</h1>
            <br />
            <a type="button" class="btn btn-primary btn-lg" routerLink="/search/pal">Go Home</a>
        </section>
    </div>
</div>